@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}
* {
  font-family: "Bangla", "segoe ui", sans-serif;
}
#root {
  padding: 0;
  margin: 0 auto;
}
html {
  padding: 0;
  margin: 0 auto;
}

/* for vertical timeline */

.vertical-timeline-element {
  margin: 16px 0 !important;
}
.vertical-timeline::before {
  content: "";
  position: absolute;
  top: 8% !important; /* Adjust this value as needed to achieve the desired vertical centering */
  height: 80% !important;
  width: 2px !important;
  color: blue !important;
  background-color: blue !important;
}

vertical-timeline-element-icon {
  width: 30px !important;
  height: 30px !important;
}

/* for input react range */
.input-range__slider {
  background-color: #071952 !important; /* Customize the slider handle color */
  border: none !important;
}

.input-range__slider:hover {
  background-color: purple !important;
  border: none !important;
}

/* Update the CSS rule for the active track with higher specificity */

.input-range .input-range__track--active {
  background-color: #071952; /* Customize the active track color */
}

/* stepper line */
.line-design {
  color: red;
}

/* for filter design */

@keyframes openFromBottom {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.filter-open {
  animation: openFromBottom 1s ease-out;
}
